extends layout

block content
  h1= title
  
  ul(class="list-group")
  each genre in genre_list
    li(class="list-group-item")
      a(href=genre.url) #{genre.name} 

  else
    li(class="list-group-item") There are no books.